{% extends "model-page.html" %}

{% block content %}
    <h2>Pacientes</h2>

    <a href="{% url "customer:customer-create" %}">
        <button type="button" class="btn btn-success" style="float: right; margin-bottom: 7px">Adicionar</button>
    </a>

    <form>
        <div class="form-group mb-1">
            <input class="form-control" type="text" name="name" placeholder="Buscar por nome...">
        </div>

        <button type="submit" class="btn btn-primary mb-4">Buscar</button>

    </form>

    <table class="table table-bordered mb-4">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Cidade</th>
                <th>Telefone</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customer_list %}
            <tr>
                <td><a href="{{ customer.get_absolute_url }}">{{ customer.get_full_name }}</a></td>
                <td>{{ customer.get_full_city }}</td>
                <td>{{ customer.get_full_phone_number }}</td>
                <td>{{ customer.email }}</td>
                <td>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmDeleteModal{{ customer.id }}">Excluir</button>
                    <!-- Modal -->
                    <div class="modal fade" id="confirmDeleteModal{{ customer.id }}" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel{{ customer.id }}" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="confirmDeleteModalLabel{{ customer.id }}">Confirmar Exclusão</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Tem certeza que deseja excluir "{{ customer.get_full_name }}"?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    <form method="post" action="{{ customer.get_delete_url }}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">Confirmar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul class="pagination">
        {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
        {% else %}
          <li class="page-item disabled"><a class="page-link" href="#">Anterior</a></li>
        {% endif %}

        {% for object in page_obj.paginator.page_range %}
            <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
        {% endfor %}

        {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Próxima</a></li>
        {% else %}
          <li class="page-item disabled"><a class="page-link" href="#">Próxima</a></li>
        {% endif %}
    </ul>

{% endblock %}

